<% layout('../partials/boilerplate.ejs') %>

<center><h1 id="hoo">Latest Episode</h1>
    <h3><%= pk.name %></h3><hr color="blue">
    <hr color="red">
    <iframe src=<%=pk.youtube %> width="1200" height="550"></iframe></center>
    <br><br>
    <h2>Leave a Review</h2>
    <form action="/<%=pk._id%>/review" method="POST">
        <div>
            <fieldset class="starability-basic">
                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="rating" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="rating" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="rating" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="rating" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="rating" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
        </div>
        <div class="mb-3">
            <label class="form-label" for="comment">Comment: </label>
            <textarea class="form-control" row="3" name="comment" id="comment"></textarea>
        </div>

        <button class="btn btn-sm btn-success">Add Review</button>
        </form>
        
        <div class="my-3">

            <% for(let rev of pk.reviews){ %>

                <div class="card mt-3">
        
                    <p class="starability-result" data-rating="<%=rev.rating %>">
                      Rated: <%=rev.rating %> stars
                    </p>
                    <div class="card-body">
                      <p class="card-text">Comment: <%=rev.comment %></p>
                    </div>
                    
                    <a href="#" class="btn btn-primary">Delete</a>
                  </div>

            <% } %>

        </div>
  